<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/static/styles.cs">
</head>
<body>
    <header>
        <h1>DATA Strategy Use Case (Responses)</h1>
    </header>

    <main>
        <section>
            <h2>Search</h2>
            <form action="/search" method="get">
                <input type="text" id="search" name="q" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
        </section>

        <div class="business-unit">
            <h3>Business Unit</h3>
            <div class="answer-field">
                <p class="answers">TEST</p>
            </div>
        </div>

    </main>

    <footer>
        <p>&copy; 2023 Telus</p>
    </footer>
</body>
</html>